<div class="about">
    <div class="title">
        <div class="title-logo">
            <h1>monologueについて</h1>
        </div>
    </div>
    <div class="about-main">
        <div class="about-item">
        <P>monologueとは独り言をボヤいてあわよくばみんなに構ってもらおう!</P>
        </div>
        <div class="about-link">
        <%= link_to("ボヤいてみる","/new/user")%>
        </div>
        <%# なんか他に追加する %>
    </div>
</div>